* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #28292d;
}

nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28292d;
  color: white;
  border-bottom: solid white 1px;
}

nav div {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

nav a {
  margin-left: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.users-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #28292d;
}

.search {
  display: flex;
  margin: auto;
}

.image-pro {
  width: 250px;
  height: 250px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.border-img {
  margin: auto;
  width: 255px;
  height: 250px;
  padding: 5px;
  background-color: #606166;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.skills-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills {
  color: #c6c9d0;
  background: #373a41;
  margin: 10px;
  padding: 10px 15px ;
  border-radius: 25px;
}
